@import "base";

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
}

button:disabled {
  cursor: not-allowed;
}

.btn-view-more {
  background-color: #000000;
  border: 1.5px solid red;
  color: red;
  &:hover {
    color: red;
    background-color: rgb(26, 26, 26);
  }
}

.text-light {
  color: red !important;
}

.spinner-grow {
  width: 1.5rem;
  height: 1.5rem;
}
